@import '~@angular/material/theming';

@import 'src/app/components/puyo-diagram/puyo-diagram';

* {
  user-select: none;
}

.editor {
  display: flex;
  margin: 0 0 0 8px;
}

.field {
  @include mat-elevation(4, #aaaaaa);
}

.puyo {

  .puyo-bg {
    position: absolute;
  }

  .puyo-fg {
    position: absolute;
    width: $puyo-size;
    height: $puyo-size;
  }

  .puyo-fg:hover {
    background-color: red;
    background: url('src/assets/images/puyos/palette/selected.png');
  }

}

.palette {

  width: 34px;
  margin: 0 0 0 16px;

  .puyo-selector {
    width: 35px;
    margin-left: 4px;
  }

  .puyo-selector:hover {
    cursor: pointer;
  }

  .selected {
    border-right: #cccccc solid 2px;
  }

  .close-button {
    margin: 0 0 78px 0;
  }

  .player-button {
    margin: 0 0 8px 0;
    color: #297bff;
  }

  .save-button {
    margin: 30px 0 0 0;
  }

}
