<div class="editor">

  <app-puyo-diagram
      class="diagram" [puyoDiagram]="puyoDiagram" [showCursor]="true" (clicked)="drawPuyo($event)">
  </app-puyo-diagram>

  <div class="palette">

    <button mat-icon-button class="close-button" [mat-dialog-close]="undefined" color="primary">
      <mat-icon>close</mat-icon>
    </button>

    <button
        mat-icon-button
        class="player-button"
        (click)="clickPlayerButton()">
        <mat-icon>{{ playerButtonIcon() }}</mat-icon>
    </button>

    <div *ngFor="let puyo of PALETTE_PUYOS"
        class="puyo-selector"
        [class.selected]="puyo === selectedPuyo"
        (click)="selectPuyo(puyo)">
      <img src="../../../assets/images/puyos/palette/{{ nameOf(puyo) }}.png" />
    </div>

    <button mat-icon-button class="save-button" [mat-dialog-close]="puyoDiagram" color="primary">
      <mat-icon>save</mat-icon>
    </button>

  </div>

</div>
