<div class="puyo-note">

  <header class="header">
    <div class="title-and-buttons">
      <div class="title">
        <a routerLink="">{{ settings.APP_NAME }}</a>
        <span class="version">{{ settings.APP_VERSION }}</span>
      </div>
      <div class="button">
        <button mat-icon-button routerLink="manual" color="accent" matTooltip="マニュアル">
          <mat-icon >help</mat-icon>
        </button>
      </div>
    </div>
  </header>

  <div class="warning">
    注: {{ settings.APP_NAME }}は、現在開発中です。ご利用は自己責任でお願いします。
  </div>

  <router-outlet></router-outlet>

  <!-- <footer class="footer"></footer> -->

</div>
