@import '~@angular/material/theming';

.puyo-note {
  position: relative;
  min-height: 100vh;
  padding-bottom: 50px;
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 60px;
  background-color: #464646;
  @include mat-elevation(3);
}

.header-left-and-right {
  width: 1216px;
  height: 60px;
  margin: 0 auto 0 auto;
  padding: 15px 0 0 12px;
  display: flex;
  justify-content: space-between;
}

.header-left {
  font-size: 120%;
  color: #ffffff;
  a {
    color: #ffffff;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}

.header-right {
  margin: -5px 0 0 0;
}

.version {
  vertical-align: middle;
  margin: 0 4px 0 0;
  color: #ffffff;
  font-size: 95%;
}

.warning {
  height: 25px;
  background-color: #faffb4;
  text-align: center;
  vertical-align: middle;
}

.footer {
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: 0;
  background-color: #464646;
  @include mat-elevation(8);
}
