<div class="puyo-diagram-list" *ngIf="puyoDiagrams !== undefined; else spinner">

  <button mat-mini-fab class="add-button" (click)="openCreateDialog()">
    <mat-icon>add</mat-icon>
  </button>

  <ng-container *ngIf="numPuyoDiagrams > 0; else no_puyo_diagrams">

    <div class="puyo-diagrams">
      <div *ngFor="let puyoDiagram of puyoDiagrams" class="puyo-diagram-wrapper">
        <div class="tool-bar">
          <button
              mat-icon-button
              class="player-button"
              (click)="clickPlayerButton(puyoDiagram)">
            <mat-icon>{{ playerButtonIcon(puyoDiagram) }}</mat-icon>
          </button>
          <mat-form-field class="status-selector">
            <mat-select
                [(value)]="puyoDiagram.status"
                (openedChange)="puyoDiagram.stop()"
                (selectionChange)="updatePuyoDiagram(puyoDiagram)">
              <mat-option *ngFor="let status of STATUSES" [value]="status.value">
                {{ status.value }}. {{ status.key }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-icon-button class="delete-button"
              (click)="openDeleteDialog(puyoDiagram)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        <div class="puyo-diagram">
          <app-puyo-diagram [puyoDiagram]="puyoDiagram" (click)="openUpdateDialog(puyoDiagram)">
          </app-puyo-diagram>
        </div>
      </div>
    </div>

    <mat-paginator
        [length]="numPuyoDiagrams"
        [pageIndex]="pageIndex"
        [pageSize]="numPuyoDiagramsPerPage"
        [pageSizeOptions]="PAGE_SIZE_OPTIONS"
        (page)="changePage($event)">
    </mat-paginator>

  </ng-container>

</div>

<ng-template #spinner>
  <div class="spinner-wrapper">
    <mat-progress-spinner class="spinner" color="primary" mode="indeterminate" strokeWidth="5"></mat-progress-spinner>
  </div>
</ng-template>

<ng-template #no_puyo_diagrams>
  <div class="no-puyo-diagrams">
    <p>
      ぷよ図を作成するには、左上の
      <button mat-mini-fab class="add-button-sample" disableRipple>
        <mat-icon>add</mat-icon>
      </button>
      を押してください。
    </p>
    <ul>
      <li>ぷよ図はブラウザに保存されます。</li>
      <li>ぷよのーとの使い方は <a routerLink="manual">こちら</a></li>
      <li>ぷよのーとのご利用は自己責任で！</li>
    </ul>
  </div>
</ng-template>
